<div class="content-table-view">
    <button class="add-btn pull-right" onclick="addItem()">
        <label><span class="add-icon"/>Nuevo Articulo</label>
    </button>

    <table class="articulos">
        <caption>Articulos Registrados</caption>
        <thead>
            <th class="col-small">Clave Articulo</th>
            <th>Descripción</th>
            <th class="col-xsmall"></th>
        </thead>
        <tbody class="lista">

        </tbody>
    </table>
</div>

<link rel="stylesheet" href="css/listas.css">
<script src="js/listas.js"></script>