<div class="content-table-view">
    <button class="add-btn pull-right" onclick="addItem()">
        <label><span class="add-icon"/>Nueva Venta</label>
    </button>

    <table class="clientes">
        <caption>Ventas Activas</caption>
        <thead>
            <th class="col-small">Folio Venta</th>
            <th class="col-small">Clave Cliente</th>
            <th>Nombre</th>
            <th class="col-small">Total</th>
            <th class="col-small">Fecha</th>
        </thead>
        <tbody class="lista">

        </tbody>
    </table>
</div>

<link rel="stylesheet" href="/css/listas.css">
<script src="/js/listas.js"></script>
<script src="/js/accounting.min.js"></script>